<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contrase単a</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>多No estas registrado? <a href="/register">Registrate aqui</a></p>
    <p>多Olvidaste tu contrase単a? <a href="/reset">Reseteala aqui</a></p>

</div>
<script src="/js/login.js"></script>