<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label>First Name</label>
        <input name="first_name">
        <br/>
        <label>Last Name</label>
        <input name="last_name">
        <br/>
        <label>Age</label>
        <input name="age">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>¿Ya estas registrado? <a href="/login">Logueate aqui aqui</a></p>
</div>
<script src="/js/register.js"></script>